.container{
    width: 100%;


}
.bigtitle{
    font-family: 'Spectral', serif;
    font-size: 2rem;
    padding: 3rem;

}

.navtitle{
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    padding:0.5rem;
}

.picturetitle{
    font-family: 'Karla', sans-serif;
    color:#261c15;
    font-size: 2rem;
}
.picturetitle:hover{
  color:#4fc5c1
}



.container{
    background-color:#fff7ebc5;
    width: 100%;
    padding: 0;
    margin-left: 5;
    justify-content: center
}


.header{
    display: flex;
    width: 100%;
    background-color:#129490;

}

.navbar{
    background-color:#F96E46;
}

.whole {
    display: flex;
    margin: 3px;
    gap: 10px;
}

.flexbox{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 98vh;
    flex-wrap: wrap;
        }

.img1{
    background-image: url("/img/img1.jpg");
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30%;
    margin-right:0rem;
    display: flex;
    justify-content:center;
}

.img2{
    background-image: url("/img/img2.jpg");
    width:100%;
    height: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right:0rem;
    display: flex;
    justify-content:center;
}

.img3{
    background-image: url("/img/img3.jpg");
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30%;
    margin-right:0rem;
    display: flex;
    justify-content:center;
}

.img4{
    background-image: url("/img/img4.jpg");
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30%;
    display: flex;
    justify-content:center;
}


.img5{
    background-color:#F96E46;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 15%;
}


.footer{
    display:flex;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    color:white;
    font-size: 1rem;
    justify-content: center;

}

.footercontent{
    font-family: 'Karla', sans-serif;
    color:rgba(0, 0, 0, 0.772);
    margin-top: 1em
}


.buttoncolor{
    background-color: #129490;
    color:#ffffffed
}

.adoptcards{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.bigcontent{
    font-family: 'Spectral', serif;
    font-size: 2rem;
    margin: 1.5rem;
}
.card-title{
    font-family: 'Spectral', serif;
    font-size: 1.5rem;
}
.intro{
    font-family: 'Karla', sans-serif;
    font-size: 1.2rem;

}
.adoptcontent{
    font-family: 'Karla', sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr
    margin: 10px;
    gap:10px;
    font-family: 'Karla', sans-serif;
  }
  .storehours{
    border: 1px solid #261c15;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    background: #fff7eb;
    grid-column:1/2;
    grid: row 1px / 2px;;
  }
  .apptsform {
    grid-column:1/2;
    grid-row:2/3;
    padding: 20px;
    background: #fff7eb;
    border-radius: 8px;
    border: 1px solid #261c15;
  
  }
  
  h1 {
    text-align:left;
    font-family: 'spectral', sans-serif;
  
  }
  
  input[type="text"],
  input[type="date"],
  input[type="phone"],
  input[type="number"],
  input[type="tel"],
  input[type="time"],
  textarea,
  select {
    background: rgba(255, 255, 255, 0.1);
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #f5f5f5;
    color: #261c15;
    margin-bottom: 30px;
    transition: all 200ms;
    border: 1px solid #261c15;
    border-radius: 2px;
  }
  
  input::placeholder,
  textarea::placeholder {
    color: #F96E46;
  }
  
  input:hover,
  input:focus,
  textarea:hover,
  textarea:focus {
    border: 2px solid #F96E46;
  }
  
  
  select {
    padding: 6px;
    height: 55px;
    width: 200px;
    border-radius: 2px;
  }
  
  select:hover,
  select:focus,
  textarea:hover,
  textarea:focus {
    border: 2px solid #F96E46;
  }
 
  .apptsformbutton {
    padding: 20px 40px ;
    color: #fff;
    background-color: #129490;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .apptsformbutton:hover,
  .apttsformbutton:focus {
    background-color: #4fc5c1;
    color:#261c15;

  }
  
  fieldset {
    margin-bottom: 10px;
    
  }
  
 
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  .flexboxname{
    display:block;
  }
  .flexboxfirstname{
    flex: 1 1 8em;
  }
  .flexboxlastname{
    flex: 1 1 8em;
  }
  .flexboxphone{
    flex: 1 1 8em;
  }
  

.appointments2card{
  height:40vh;
  width: 100%;
}

.appts2card-p{
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
}
.appts2card-title{
  font-family: 'Spectral', serif;
  font-size: 2rem;
}
.homepagefooter{
  height: 30vh;
}
@media only screen and (min-width:1080px){

  .flexbox{
    justify-content: space-between ;
  }
    .img1{width:21%;
        height:99%;
        margin-right: 3rem;}

        .img2{width:21%;
        height:99%;
        margin-right: 3rem;}

        .img3{width:21%;
        height:99%;
        margin-right: 3rem;}

        .img4{width:21%;
        height:99%;
      

        .img5{
            background-color:#F96E46;
            width:100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 8%;
        }

        .footer{
            display:flex;
            flex-direction: row;
            font-family: 'Karla', sans-serif;
            color:white;
            font-size: 1.2rem;
            justify-content:space-evenly;

        
        }

        .adoptcards{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 2rem;

        }

}
@media only screen and (min-width: 768px) {
  .grid-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr;
    padding: 10px;
    gap:10px;
    margin-top: 15px;
  }
  .storehours{
    grid-column: 2/3;
    grid-row:1/2;
  }
  .apptsform{
    grid-column: 1/2;
    grid-row:1/3;
    max-height: 700px;
  }
  .sideimagepets{
  background-image: url("/img/catdog.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  grid-column: 2/3;
  grid-row: 2/3;
  height: 97vh;
  }
  .flexboxname{
    display: flex;
    gap:20px;

  }
  .flexboxfirstname{
    width:30vw;
    padding:10px;

  }
  .flexboxlastname{
    width:30vw;

  }
  
.petinfoflexbox{
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.serviceflexbox{
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.ownerflexbox{
  display: flex;
  gap: 20px;
}
.appointments2card{
  height:80vh;
}
.footer{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.2rem;
}
.homepagefooter{
  height:10vh;
}
.appointments2{
  width: 88vw;
}
}